/*.container {
    background-image: url('../public/backgroundchoice/ronflexfond.jpg');
    object-fit: fill;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
  }*/

  .bgImg{
    background-image: url('../public/backgroundchoice/ronflex.webp');
    object-fit: fill;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
  }